.formheader{
	color:#20cca4;
	font-weight: 800;
	margin: 30px;
}
.eventBookingForm {
	.form-control {
		border: 1px solid #cccccca8;
		border-radius: 0px;
		-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
		box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
	}
}
.btn-booking {
	background: #20cca4;
	border-color: #20cca4;
	color: #fff;
	border: 2px solid transparent !important;
	border-radius: 20px !important;
	padding: 6px 20px !important;
	transition: all .3s ease-in-out;
	&:hover {
		background: #fff;
		border-color: #20cca4;
		border: 2px solid #20cca4 !important;
		color: #20cca4 !important;
	}
}
.btn-cancel {
	background: #fff;
	border-color: #20cca4;
	border: 2px solid #20cca4 !important;
	color: #20cca4 !important;
	border-radius: 20px !important;
	padding: 6px 20px !important;
	transition: all .3s ease-in-out;
	&:hover {
		background: #20cca4;
		border-color: #20cca4;
		border: 2px solid #20cca4 !important;
		color: #fff !important;
	}
}
